@model WaterDelivery.Models.TableDb.Branch

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box" style="padding: 80px 20px 40px;">

            <h2 class="header-title m-t-0 m-b-30" style="text-align:center">اضافة فرع جديد</h2>

            <div class="row">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("اسم الفرع", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="  col-md-12">
                                <input type="button" value="اضافة" onclick="Validtion()" class="btn-new-style" />
                                <input type="submit" id="btnSave" style="display:none" value="اضافة" class="btn-new-style" />
                            </div>
                        </div>
                    </div>
                }

                <!-- -------------------------------------------------------------------------------------------------- -->
            </div><!-- end row -->
        </div>
    </div><!-- end col -->
</div>
@section Scripts {
    <script>
        function Validtion() {
            var flg = true;

            if ($("#name").val() == "") {
                toastr.error('من فضلك ادخل اسم التصنيف');
                $("#name").focus();
                flg = false;
                return false;
            }
            
            if (flg == true) {
                $("#btnSave").click();
            }
        }
    </script>

}



