@model IEnumerable<WaterDelivery.ViewModels.OrderInfoViewModel>

@{
    ViewBag.Title = "EditOrder";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<section class="body-content">
    <div class="container">
        <div class="sec-padd cart-page">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/SiteHome/Index"> HOME </a></li>

                    <li class="breadcrumb-item active" aria-current="page">  EDIT ORDER</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-9">

                    @if (Model.Count() > 0)
                    {
                        <div class="cart-box">
                            <div class="row">

                                @foreach (var product in Model)
                                {
                                    <div id="parnet-@product.ProductId" class="col-md-6">
                                        <div class="cart-item">
                                            <img src="@product.Img">
                                            <div class="cart-info">
                                                <h5 class="name"> @product.Name</h5>

                                                <h5 class="name text-blue">  @product.Price رس </h5>

                                            </div>
                                            <div>

                                                <button onclick="DeleteProductFromOrder(@product.ProductId)" class="cart-fav">
                                                    <i class="fa fa-trash-o text-red"></i>
                                                    حذف
                                                </button>
                                                <h6 class="text-gray"> Quantity </h6>

                                                <div class="info-qty d-flex">
                                                    <a onclick="InCreaseEdit(@product.ProductId ,1)" class="qty-up " id="qty-up-@product.ProductId">
                                                        <i class="icofont-plus"></i>
                                                    </a>
                                                    <div class="qty-val" id="qty-val-@product.ProductId">@product.Qty</div>
                                                    <input id="num-@product.ProductId" type="hidden" name="count" value="">
                                                    <a onclick="InCreaseEdit(@product.ProductId ,2)" class="qty-down" id="qty-down-@product.ProductId">
                                                        <i class="icofont-minus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>

                        @*<div class="text-center">
                                <a href="~/SiteHome/ConfirmOrder" class="btn-site w-60"> استمرار</a>
                            </div>*@
                    }
                </div>

                <div class="col-md-3 padd-0">

                    <div class="cart-summery">
                        <ul>
                            <li>
                                <label>    price  </label>
                                <span id="total" class="">

                                </span>
                            </li>
                            <li>
                                <label> delviery fee  </label>
                                <span id="Delivery" class="">

                                </span>
                            </li>
                            <li>
                                <label>   total </label>
                                <span id="netTotal" class="">

                                </span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>



@section Scripts {
    <script>

        $(document).ready(function () {
            GetCostOrder();
        });

        function InCreaseEdit(productID, count) {
            //debugger;
            if (count == 1) {
                var qtyval = parseInt($('#qty-val-' + productID).text());
                qtyval = qtyval + 1;
                $('#qty-val-' + productID).text(qtyval);

                $.post("/SiteHome/EditProductInOrder", { productId: productID, type: 1, orderId:@ViewBag.OrderNumber  }, function (data) {
                    if (data.key == 1) {
                        toastr.success(data.msg);
                        GetCostOrder();

                    } else {
                        toastr.warning(data.msg);
                        GetCostOrder();
                    }
                }, "json");


            }
            else {
                var qtyval = parseInt($('#qty-val-' + productID).text());
                qtyval = qtyval - 1;
                $('#qty-val-' + productID).text(qtyval < 0 ? 0 : qtyval);
                $.post("/SiteHome/EditProductInOrder", { productId: productID, type: 2, orderId:@ViewBag.OrderNumber  }, function (data) {
                    if (data.key == 1) {
                        toastr.success(data.msg);
                        GetCostOrder();
                }else if (data.key == 2) {
                        toastr.success(data.msg);
                        $("#parnet-" + productID).remove();
                        GetCostOrder();
                    } else if (data.key == 3) {
                        toastr.error(data.msg);
                        setTimeout(function () {
                            window.location.href = "/SiteHome/Index";
                        }, 3000);
                        //$("#parnet-" + productID).remove();
                        //GetCostOrder();
                    } else {
                        toastr.warning(data.msg);
                        GetCostOrder();
                }
                }, "json");
            }
        }

        function DeleteProductFromOrder(id) {
            $.post("/SiteHome/DeleteProductFromOrder", { productId: id , orderId :@ViewBag.OrderNumber  }, function (data) {
                if (data.key == 1) {
                    toastr.success(data.msg);
                    $("#parnet-" + id).remove();
                    GetCostOrder();
                    //if (data.CountCart == 0) {
                    //    window.location.reload();
                    //}
                } else if (data.key == 2) {
                    toastr.success(data.msg);
                    setTimeout(function () {
                        window.location.href = "/SiteHome/Index";
                    }, 3000);
                }else {
                    toastr.warning(data.msg);
                }
            }, "json");

        }

        function GetCostOrder() {
            $.post("/SiteHome/GetCostOrder", {  orderId :@ViewBag.OrderNumber  }, function (data) {
                if (data.key == 1) {
                    $('#total').html(data.Order.Totat + "SR");
                    $('#netTotal').html(data.Order.Net_totat + "SR");
                    $('#Delivery').html(data.Order.Delivery++ "SR");
                    //GetCostOrder();
                }
            });
        }



    </script>
}

