@model IEnumerable<WaterDelivery.Models.TableDb.SubCategory>
@using WaterDelivery.Models;
@{
    ViewBag.Title = "Index";
    ApplicationDbContext db = new ApplicationDbContext();
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
    var mainId = ViewBag.MainId ?? 0;
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30"></h4>
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <h4>التصنيف الرئيسي</h4>
                        <select id="mainCat" name="mainCat" class="form-control" onchange="GetByMainCat()">
                            <option value="0">الكل</option>
                        </select>
                    </div>

                </div>

                <!-- -------------------------------------------------------------------------------------------------- -->
                <p>
                    @Html.ActionLink("ADD NEW SUBCATGORIES", "Create", null, new { @class = "btn btn-success btn-rounded w-md waves-effect waves-light m-b-5" })
                </p>
                <h2 style="text-align:center">Subcategory</h2>

                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align:center">
MAIN CATEGORY                            </th>
                            <th style="text-align:center">
NAME IN ARABIC                            </th>
                            <th style="text-align:center">
NAME IN ENGLISH                            </th>
                            <th style="text-align:center">
                                IMAGE
                            </th>

                            <th style="text-align:center">
                                STATUS
                            </th>

                            <th style="text-align:center">
STATUS CHANGE                            </th>
                            <th style="text-align:center">
                                EDIT
                            </th>
                            @*<th style="text-align:center">
            حذف
        </th>*@
                        </tr>
                    </thead>
                    <tbody style="text-align:center">

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @{
                                    var maincatNmae = db.Category.Where(x => x.Id == item.fk_cat).Select(x => x.name).FirstOrDefault();
                                }
                                @maincatNmae
                            </td>
                            <td>
                                @item.name
                            </td>
                            <td>
                                @item.name_en
                            </td>
                            <td>
                                <img src="@item.img" height="60" width="60" />
                            </td>


                            <td>
                                @{
                                    if (item.is_active == true)
                                    {
                                        <label id="@item.Id" style="color:green;font-size: 17px;">ACTIVE</label>
                                    }
                                    else
                                    {
                                        <label id="@item.Id" style="color:red;font-size: 17px;">INACTIVE</label>
                                    }
                                }
                            </td>



                            <td>
                                <input type="button" value="STATUS CHANGE" onclick="Validtion('@item.Id')" class="btn btn-purple btn-rounded" />
                            </td>
                            <td>
                                @Html.ActionLink("EDIT", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" })
                            </td>
                            @*<td>
            <input type="button" value="حذف" class="btn btn-danger btn-rounded" id="@item.Id" onclick="Delete('@item.Id')" />
        </td>*@

                        </tr>
                        }
                    </tbody>

                </table>
            </div><!-- end row -->
        </div>
    </div><!-- end col -->
</div>







@section scripts{
    <script>
        $(document).ready(function () {
            var html = '';
            $.ajax({
                url: "/SubCategories/GetMainCategories",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    debugger;
                    for (var i = 0; i < data.categories.length; i++) {
                        if (@mainId == data.categories[i].id) {
                            html += '<option value="' +
                                data.categories[i].id +
                                '" selected="selected">' +
                                data.categories[i].name +
                                '</option>';
                        } else {
                            html += '<option value="' + data.categories[i].id + '">' + data.categories[i].name + '</option>';
                        }

                    }

                    $('#mainCat').append(html);
                },
                failure: function (info) {

                }
            });


        });


        function Validtion(id) {
            $.ajax({
                url: "/SubCategories/ChangeState",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (result) {

                    if (result.data == true) {
                        $('#' + id).css('color', 'green');
                        $('#' + id).html('ACTIVE');
                    } else if (result.data == false) {
                        $('#' + id).css('color', 'red');
                        $('#' + id).html('INACTIVE');

                    }
                    location.reload();
                },
                failure: function (info) {

                }
            });
        }

        function GetByMainCat() {
            var mainId = $("#mainCat").val();
            if (mainId == "0") {
                window.location.assign(window.location.origin + "/SubCategories/Index");
            }
            window.location.assign(window.location.origin + "/SubCategories/Index?mainCat=" + mainId);

        }

        

    </script>
}