@model IEnumerable<WaterDelivery.Models.TableDb.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30"></h4>
            <div class="row">

                <!-- -------------------------------------------------------------------------------------------------- -->

                <p>
                    @Html.ActionLink("ADD NEW ADS", "Create", null, new { @class = "btn btn-success btn-rounded w-md waves-effect waves-light m-b-5" })
                </p>
                <h2 style="text-align:center">ADS</h2>

                <table id="datatable-responsiveSliders" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                IMAGE
                            </th>
                            <th style="text-align:center">
ADS TYPE                            </th>


                            <th style="text-align:center">
                                STATUS
                            </th>
                            <th style="text-align:center">
STATUS CHANGE                            </th>
                            <th style="text-align:center">
                                EDIT
                            </th>
                            @*<th style="text-align:center">
                                    حذف
                                </th>*@
                        </tr>
                    </thead>
                    <tbody style="text-align:center">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@item.FileName" height="50" width="60" />
                                </td>
                                <td>
                                    @if (item.type == 1)
                                    {
                                        <p>SLIDER</p>
                                    }
                                    @if (item.type == 2)
                                    {
                                        <p>ADS TYPE</p>
                                    }
                                </td>

                                <td>
                                    @{
                                        if (item.IsActive == true)
                                        {
                                            <label id="@item.Id" style="color:green;font-size: 17px;">ACTIVE</label>
                                        }
                                        else
                                        {
                                <label id="@item.Id" style="color:red;font-size: 17px;">INACTIVE </label>
                                        }
                                    }
                                </td>

                                <td>
                                    <input type="button" value="CHANGE STATUS" onclick="Validtion('@item.Id')" class="btn btn-purple btn-rounded" />
                                </td>
                                <td>
                                    @Html.ActionLink("EDIT", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" })
                                </td>
                                @*<td>
                                        <input type="button" value="حذف" class="btn btn-danger btn-rounded" id="@item.Id" onclick="Delete('@item.Id')" />
                                    </td>*@

                            </tr>
                        }
                    </tbody>

                </table>
            </div><!-- end row -->
        </div>
    </div><!-- end col -->
</div>

@section scripts{
    <script>


        $(document).ready(function () {

            $('#datatable-responsiveSliders').DataTable({
                dom: 'frtip',

                "language": {
                    "sProcessing": "LOADING...",
                    "sLengthMenu": "show _MENU_ input",
                    "sZeroRecords": "No records found",
                    "sInfo": "Show _START_ to _END_ out of _TOTAL_ entry",
                    "sInfoEmpty": "Displays 0 to 0 out of 0 records",
                    "sInfoFiltered": "(selected from sum of _MAX_ entered)",
                    "sInfoPostFix": "",
                    "sSearch": "Search:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "first",
                        "sPrevious": "prev",
                        "sNext": "next",
                        "sLast": "last"
                    }
                },
                //"order": [[0, "desc"]]
                "order": []


            });

        })

        function Validtion(id) {
            $.ajax({
                url: "/Sliders/ChangeState",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (result) {

                    if (result.data == true) {
                        $('#' + id).css('color', 'green');
                        $('#' + id).html('ACTIVE');
                    } else if (result.data == false) {
                        $('#' + id).css('color', 'red');
                        $('#' + id).html('INACTIVE');

                    }
                    location.reload();
                },
                failure: function (info) {

                }
            });
        }


            


    </script>
}
