@model WaterDelivery.Models.TableDb.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box" style="padding: 80px 20px 40px;">

            <h2 class="header-title m-t-0 m-b-30" style="text-align:center">edit</h2>

            <div class="row">

                @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @*@Html.HiddenFor(model => model.fk_branch)*@
                    @Html.HiddenFor(model => model.is_active)
                    @Html.HiddenFor(model => model.date)
                    <div class="form-group">
                        @Html.Label("category name in Arabic", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label(" category name in English", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name_en, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name_en, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--<div class="form-group">
                        @Html.Label(" old category picture", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">-->

                            @*<img src="@Model.img" height="100px" width="200px" />*@

                            @*@Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })*@
                        <!--</div>
                    </div>-->

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <!--<div class="form-group">-->
                        @*@Html.Label("صورة التصنيف الجديدة ", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <!--<div class="col-md-10">
                            <input type="file" name="img" id="img" class="form-control" />
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div class=" col-md-12">
                            <input type="button" value="save" onclick="Validtion()" class="btn-new-style" />
                            <input type="submit" id="btnSave" style="display:none" value="حفظ" class="btn-new-style" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="  col-md-12 text-center">
                            @Html.ActionLink("back to home", "Index", null, new { @class = "btn-black  m-b-5" })
                        </div>
                    </div>


                </div>
                }

                <!-- -------------------------------------------------------------------------------------------------- -->
            </div><!-- end row -->
        </div>
    </div><!-- end col -->
</div>
@section Scripts {
    <script>
        function Validtion() {
            var flg = true;

            if ($("#name").val() == "") {
                toastr.error('please enter the name of the categoty');
                $("#name").focus();
                flg = false;
                return false;
            }
            if (flg == true) {
                $("#btnSave").click();
            }
        }
    </script>

}